c-sharp/math/count-primes/obj/Debug/net10.0/count-primes.AssemblyInfo.cs
c-sharp/math/count-primes/obj/Debug/net10.0/count-primes.AssemblyInfo.cs
c-sharp/math/count-primes/obj/Debug/net10.0/count-primes.AssemblyInfoInputs.cache
